header.main-header {
  position: relative;
  z-index: 500;
  padding: 25px 0 25px 0;
}
header.main-header .main-header--container {
  max-width: 1530px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header.main-header .logo {
  display: flex;
  justify-content: center;
}
header.main-header .logo img {
  width: 100%;
  max-width: 300px;
  padding: 0 20px;
}
header.main-header .header-right {
  display: flex;
  flex-wrap: wrap;
}
header.main-header .header-right .shop-bar {
  position: relative;
}
header.main-header .header-right .shop-bar a {
  padding: 0 15px;
}
header.main-header .header-right .shop-bar a.chart {
  position: relative;
}
header.main-header .header-right .shop-bar a.chart .notification {
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  background-color: #b2dbb8;
  color: #000;
  border-radius: 7px;
  top: 11px;
  right: 7px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}

.menu-bar {
  padding: 10px 10px 10px 45px;
}

@media screen and (max-width: 420px) {
  .menu-bar {
    padding: 10px 10px 10px 20px;
  }
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: 0.4s;
  background-color: #ffffffc7;
}
.overlay a {
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

@media screen and (max-width: 1420px) {
  .overlay ul {
    padding-left: 50px;
  }
}
.overlay-open {
  height: 100%;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 45px;
}

.overlay a:hover, .overlay a:focus {
  color: #000;
}

.open-close-btn {
  position: relative;
  left: 5px;
  text-decoration: none;
  z-index: 10;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px;
  }
}
/* Hamburger Icon */
#hamburger-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon span {
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  margin-top: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Hamburger Lines  */
#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2), #hamburger-icon span:nth-child(3) {
  top: 8px;
}

#hamburger-icon span:nth-child(4) {
  top: 17px;
}

#hamburger-icon.hamburger-open span {
  background: #000;
}

#hamburger-icon.hamburger-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.hamburger-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.hamburger-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.hamburger-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.language {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 9px;
  padding-left: 15px;
}
.language a {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  line-height: 1;
}
.language a::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: -1;
  background-color: #fff;
  border-radius: 50%;
  top: -4px;
  left: -4px;
}

.sr .language a.sr {
  display: none;
}

.en .language a.en {
  display: none;
}

.shopping-cart {
  background-color: #fafafa;
  width: 320px;
  position: absolute;
  top: 30px;
  right: -10px;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(0);
  transform-origin: right top 0;
  transform: scale(0);
}
.shopping-cart.active {
  opacity: 1;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(1);
  transform-origin: right top 0;
  transform: scale(1);
}
.shopping-cart .shopping-cart--header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart--header .shopping-cart-total {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 18px;
}
.shopping-cart .shopping-cart--header .shopping-cart-total .total {
  font-weight: 500;
}
.shopping-cart .shopping-cart--body .item {
  position: relative;
  display: flex;
  background-color: #fff;
  margin: 10px 0;
  padding: 5px 5px;
}
.shopping-cart .shopping-cart--body .item .remove {
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.shopping-cart .shopping-cart--body .item img {
  max-width: 102px;
}
.shopping-cart .shopping-cart--body .item .item-body {
  font-weight: 300;
  padding-top: 7px;
}
.shopping-cart .shopping-cart--body .item .item-body p {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.shopping-cart .shopping-cart--body .item .item-body span {
  text-transform: lowercase;
}
.shopping-cart .shopping-cart--body .item .item-body span.count {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  margin-left: 8px;
}
.shopping-cart .edit-cart {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
}

.products {
  padding: 70px 0;
}
.products .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  justify-content: space-between;
}
.products .item img {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.products h2, .products h3, .products p {
  text-transform: uppercase;
  color: #000;
}
.products h2, .products p {
  font-size: 18px;
}
.products h3 {
  font-size: 14px;
}

.button-padding {
  padding-bottom: 82px;
}

footer {
  background-color: #000;
  padding: 25px 0 10px 0;
}
footer ul.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer ul.social-list li {
  padding: 15px;
}
footer ul.social-list li img {
  max-height: 30px;
}
footer p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
footer p span {
  font-weight: 600;
}
footer p.copyright {
  font-size: 11px;
  padding-top: 40px;
  margin-bottom: 0;
}
footer a {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
footer a:hover {
  color: #b2dbb8;
}

.yt-icon {
  width: 30px;
  height: 30px;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.row {
  margin: 0 auto !important;
}

div {
  box-sizing: border-box;
}

.no-padding {
  padding: 0 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button.add-to-cart {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  background-color: #b2dbb8;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

#button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
}
#button img {
  transform: rotate(180deg);
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/*# sourceMappingURL=main.css.map */
