header.main-header {
  position: relative;
  z-index: 500;
  padding: 25px 0 25px 0;
}
header.main-header .main-header--container {
  max-width: 1530px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header.main-header .logo {
  display: flex;
  justify-content: center;
}
header.main-header .logo img {
  width: 100%;
  max-width: 300px;
  padding: 0 20px;
}
header.main-header .header-right {
  display: flex;
  flex-wrap: wrap;
}
header.main-header .header-right .shop-bar {
  position: relative;
}
header.main-header .header-right .shop-bar a {
  padding: 0 15px;
}
header.main-header .header-right .shop-bar a.chart {
  position: relative;
}
header.main-header .header-right .shop-bar a.chart .notification {
  position: absolute;
  display: block;
  width: 17px;
  height: 17px;
  background-color: #b2dbb8;
  color: #000;
  border-radius: 7px;
  top: 11px;
  right: 7px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  line-height: 1.4;
}
@media screen and (max-width: 590px) {
  header.main-header .header-right .shop-bar a.chart .notification {
    top: 16px;
    right: 0px;
  }
}
@media screen and (max-width: 590px) {
  header.main-header .header-right .shop-bar {
    display: flex;
    flex-direction: column;
  }
  header.main-header .header-right .shop-bar a {
    padding: 0 5px;
  }
}
@media screen and (max-width: 590px) {
  header.main-header .header-right {
    flex-direction: column;
  }
}

.menu-bar {
  padding: 10px 10px 10px 45px;
}

@media screen and (max-width: 420px) {
  .menu-bar {
    padding: 10px 10px 10px 20px;
  }
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
  transition: 0.4s;
  background-color: #ffffffc7;
}
.overlay a {
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
}

@media screen and (max-width: 1420px) {
  .overlay ul {
    padding-left: 50px;
  }
}
.overlay-open {
  height: 100%;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 45px;
}

.overlay a:hover, .overlay a:focus {
  color: #000;
}

.open-close-btn {
  position: relative;
  left: 5px;
  text-decoration: none;
  z-index: 10;
}

@media screen and (max-height: 450px) {
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px;
  }
}
/* Hamburger Icon */
#hamburger-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#hamburger-icon span {
  display: inline-block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #000;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  margin-top: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

/* Hamburger Lines  */
#hamburger-icon span:nth-child(1) {
  top: 0px;
}

#hamburger-icon span:nth-child(2), #hamburger-icon span:nth-child(3) {
  top: 8px;
}

#hamburger-icon span:nth-child(4) {
  top: 17px;
}

#hamburger-icon.hamburger-open span {
  background: #000;
}

#hamburger-icon.hamburger-open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#hamburger-icon.hamburger-open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-icon.hamburger-open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#hamburger-icon.hamburger-open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.language {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  padding-top: 9px;
  padding-left: 15px;
}
.language a {
  position: relative;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  line-height: 1;
}
.language a::before {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  z-index: -1;
  background-color: #fff;
  border-radius: 50%;
  top: -4px;
  left: -4px;
}
@media screen and (max-width: 590px) {
  .language {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.sr .language a.sr {
  display: none;
}

.en .language a.en {
  display: none;
}

.shopping-cart {
  background-color: #fafafa;
  width: 320px;
  position: absolute;
  top: 30px;
  right: -10px;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  opacity: 0;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(0);
  transform-origin: right top 0;
  transform: scale(0);
}
.shopping-cart.active {
  opacity: 1;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(1);
  transform-origin: right top 0;
  transform: scale(1);
}
.shopping-cart .shopping-cart--header {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}
.shopping-cart .shopping-cart--header .shopping-cart-total {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  text-transform: uppercase;
  font-size: 18px;
}
.shopping-cart .shopping-cart--header .shopping-cart-total .total {
  font-weight: 500;
}
.shopping-cart .shopping-cart--body .item {
  position: relative;
  display: flex;
  background-color: #fff;
  margin: 10px 0;
  padding: 5px 5px;
}
.shopping-cart .shopping-cart--body .item .remove {
  background-color: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  padding: 0;
  cursor: pointer;
}
.shopping-cart .shopping-cart--body .item img {
  max-width: 102px;
}
.shopping-cart .shopping-cart--body .item .item-body {
  font-weight: 300;
  padding-top: 7px;
}
.shopping-cart .shopping-cart--body .item .item-body p {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 3px;
}
.shopping-cart .shopping-cart--body .item .item-body span {
  text-transform: lowercase;
}
.shopping-cart .shopping-cart--body .item .item-body span.count {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  margin-left: 8px;
}
.shopping-cart .edit-cart {
  background-color: #000;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  border-radius: 20px;
  padding: 7px 20px;
  border: none;
  cursor: pointer;
}

.products {
  position: relative;
  padding: 70px 0 170px 0;
  margin-bottom: 50px;
  background-image: url("../assets/bg/leaf3.png");
  background-size: auto;
  background-position-x: 70%;
  background-position-y: bottom;
  background-repeat: no-repeat;
}
.products .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  justify-content: space-between;
}
.products .item img {
  max-width: 200px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.products h2, .products h3, .products p {
  text-transform: uppercase;
  color: #000;
}
.products h2, .products p {
  font-size: 18px;
}
.products h3 {
  font-size: 14px;
}
.products::before {
  content: url("../assets/bg/leaf1.png");
  display: block;
  position: absolute;
  top: 0;
  left: -10%;
  z-index: 100;
}
@media screen and (max-width: 1390px) {
  .products::before {
    left: -5%;
  }
}
@media screen and (max-width: 1390px) {
  .products::before {
    display: none;
  }
}
.products::after {
  content: url("../assets/bg/leaf2.png");
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10%;
  z-index: 100;
}
@media screen and (max-width: 1390px) {
  .products::after {
    right: 0;
  }
}
@media screen and (max-width: 1390px) {
  .products::after {
    display: none;
  }
}

.button-padding {
  padding-bottom: 82px;
}

.product {
  position: relative;
  color: #000;
  padding: 100px 0;
  z-index: 1;
}
.product .right {
  padding: 20px 0 0 30px;
}
.product p {
  font-size: 18px;
}
.product .left img {
  width: 100%;
}
.product .stamps {
  position: relative;
  display: block;
  padding: 70px 0 50px 0;
  margin: 0 auto;
  text-align: center;
}
.product .stamps img {
  width: auto;
}
.product .stamps::before {
  content: url(../assets/product-bg/bgd3-svg.png);
  position: absolute;
  top: 40%;
  left: 10%;
}
.product .stamps::after {
  content: url(../assets/product-bg/bgd2-svg.png);
  position: absolute;
  top: 15%;
  right: 10%;
}
@media screen and (max-width: 768px) {
  .product .stamps::before {
    left: 0;
  }
  .product .stamps::after {
    right: 0;
  }
}
@media screen and (max-width: 568px) {
  .product .stamps::before {
    content: "";
  }
  .product .stamps::after {
    content: "";
  }
}
.product .bottom {
  padding-top: 40px;
}
.product .bottom p {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 0;
}
.product .bottom h3 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: calc(30px + 18 * (100vw - 320px) / 1880);
  margin-bottom: 40px;
}
.product .bottom a {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  background-color: #000;
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  max-width: 200px;
}
.product .bottom a:hover {
  color: #fff;
}
.product .bottom a img {
  padding-right: 20px;
}
.product .bottom .left {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.product .bottom .left img {
  width: auto;
}
.product .bottom .left::after {
  content: url(../assets/product-bg/bgd4-svg.png);
  position: absolute;
  top: 0;
  right: 0;
}
@media screen and (max-width: 568px) {
  .product .bottom .left::after {
    content: "";
  }
}
.product .bottom .right img {
  width: 100%;
}
.product::after {
  content: url(../assets/product-bg/bgd1-svg.png);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}
@media screen and (max-width: 768px) {
  .product::after {
    display: none;
  }
}

.product-heading {
  color: #000;
}
.product-heading h2 {
  font-size: calc(20px + 16 * (100vw - 320px) / 1880);
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.product-heading h3 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  padding-bottom: 40px;
}
.product-heading p {
  font-size: calc(20px + 16 * (100vw - 320px) / 1880);
  font-weight: 400;
  text-transform: uppercase;
}

.count {
  padding-bottom: 20px;
}
.count form {
  display: flex;
}
.count form input {
  height: 26px;
  max-width: 61px;
  border: 1px solid #000;
  border-radius: 20px;
  text-align: center;
  margin: 0 8px;
}
.count form .value-button {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.product-benefits {
  position: relative;
  padding: 25px 0 32px 0;
}
.product-benefits ul {
  display: flex;
}
.product-benefits ul li {
  margin-right: 20px;
}
.product-benefits ul li p {
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
}
.product-benefits ul li img {
  max-width: 42px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 6px;
}
.product-benefits::after {
  content: "";
  display: block;
  height: 1px;
  width: 100px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
}
@media screen and (max-width: 768px) {
  .product-benefits {
    padding-bottom: 5px;
  }
}

ul.tag-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 60px;
}
ul.tag-list li {
  font-size: 18px;
  padding: 5px 15px;
  margin: 5px 10px 5px 0;
  border: 1px solid;
  border-radius: 25px;
  cursor: vertical-text;
}
ul.tag-list--dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 30px;
}
ul.tag-list--dark li {
  font-size: 18px;
  padding: 5px 15px;
  margin: 5px 10px 5px 0;
  border: 1px solid;
  border-radius: 25px;
  cursor: vertical-text;
  background-color: #000;
  color: #fff;
}
@media screen and (max-width: 568px) {
  ul.tag-list {
    padding-top: 20px;
  }
}

.chart-page {
  position: relative;
  min-height: calc(100vh - 350px);
  padding: 30px 0 100px 0;
}
.chart-page .left .wrapper, .chart-page .right .wrapper {
  position: relative;
  background-color: #fafafa;
  padding: 0 25px 25px 25px;
  z-index: 1;
}
.chart-page .left .info {
  padding: 15px 0;
}
.chart-page .left .info p {
  text-transform: uppercase;
  color: #000;
  font-size: 16px;
  padding: 0 10px;
  margin-bottom: 0;
}
.chart-page .left .info-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.chart-page .left .info-wrapper p {
  font-size: 31px;
}
.chart-page .left .info-wrapper p.price {
  font-weight: 500;
}
.chart-page .item {
  position: relative;
  padding: 20px 0;
}
.chart-page .item .btn-remove {
  position: absolute;
  top: 15px;
  right: -15px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.chart-page .item-left img {
  max-width: 233px;
  width: 100%;
}
.chart-page .item-right .product-heading h2 {
  margin-bottom: 10px;
  padding-top: 15px;
}
.chart-page .item-right .count {
  padding-bottom: 1px;
}
.chart-page .item:not(:last-child) {
  border-bottom: 1px solid #000;
}
.chart-page .right .wrapper {
  padding-top: 20px;
}
.chart-page .right .wrapper .logo {
  text-align: center;
  padding: 10px 0 36px 0;
}
.chart-page .right .info {
  border-bottom: 1px solid #000;
  padding: 2px 10px;
}
.chart-page .right .info p {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.chart-page .right .info p span {
  font-weight: 500;
}
.chart-page .right .info-final {
  padding: 15px 0;
}
.chart-page .right .info-final p {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.chart-page .right .info-final p span {
  font-weight: 400;
  font-size: 36px;
  padding-left: 20px;
  white-space: nowrap;
}
.chart-page .right .info-final .center {
  padding: 50px 0;
}
.chart-page::after {
  content: url("../assets/chart/bgd2-svg.png");
  position: absolute;
  bottom: 25px;
  left: 50%;
  z-index: 0;
}
@media screen and (max-width: 420px) {
  .chart-page::after {
    content: "";
  }
}
.chart-page::before {
  content: url("../assets/chart/bg_leaf.png");
  position: absolute;
  bottom: 0;
  right: 0;
}
@media screen and (max-width: 982px) {
  .chart-page {
    min-height: auto;
  }
}

footer {
  background-color: #000;
  padding: 25px 0 10px 0;
}
footer ul.social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
footer ul.social-list li {
  padding: 15px;
}
footer ul.social-list li img {
  max-height: 30px;
}
footer p {
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
footer p span {
  font-weight: 600;
}
footer p.copyright {
  font-size: 11px;
  padding-top: 40px;
  margin-bottom: 0;
}
footer a {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  text-align: center;
}
footer a:hover {
  color: #b2dbb8;
}

.yt-icon {
  width: 30px;
  height: 30px;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.row {
  margin: 0 auto !important;
}

div {
  box-sizing: border-box;
}

.no-padding {
  padding: 0 !important;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button.add-to-cart {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  background-color: #b2dbb8;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

#button {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  cursor: pointer;
}
#button img {
  transform: rotate(180deg);
}
#button.show {
  opacity: 1;
  visibility: visible;
}

.container {
  max-width: 1270px;
}

.center {
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
