// Styles for Chart page
.chart-page {
    position: relative;
    min-height: calc(100vh - 350px);
    padding: 30px 0 100px 0;
    .left, .right {
        .wrapper {
            position: relative;
            background-color: #fafafa;
            padding: 0 25px 25px 25px;
            z-index: 1;
        }
    }
    .left {
        .info {
            padding: 15px 0;
            p {
                text-transform: uppercase;
                color: #000;
                font-size: 16px;
                padding: 0 10px;
                margin-bottom: 0;
            }
            &-wrapper {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                p {
                    font-size: 31px;
                    &.price {
                        font-weight: 500;
                    }
                }
            }
        }
    }
    .item {
        position: relative;
        padding: 20px 0;
        .btn-remove {
            position: absolute;
            top: 15px;
            right: -15px; 
            background-color: transparent;
            border: none;  
            cursor: pointer;
        }
        &-left {
            img {
                max-width: 233px;
                width: 100%;
            }
        }
        &-right {
            .product-heading h2 {
                margin-bottom: 10px;
                padding-top: 15px;
            }
            .count {
                padding-bottom: 1px;
            }
        }
        &:not(:last-child) {
            border-bottom: 1px solid #000;
        }
    }
    .right {
        .wrapper {
            padding-top: 20px;
            .logo {
                text-align: center;
                padding: 10px 0 36px 0;
            }
        }
        .info {
            border-bottom: 1px solid #000;
            padding: 2px 10px;
            p {
                font-size: 16px;
                font-weight: 300;
                text-transform: uppercase;
                margin-bottom: 20px;
                span {
                    font-weight: 500;
                }
            }
            &-final {
                padding: 15px 0;
                p {
                    font-size: 16px;
                    font-weight: 300;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                    span {
                        font-weight: 400;
                        font-size: 36px;
                        padding-left: 20px;
                        white-space: nowrap;
                    }
                }
                .center {
                    padding: 50px 0;
                }
            }
        }
    }
    &::after {
        content: url('../assets/chart/bgd2-svg.png');
        position: absolute;
        bottom: 25px;
        left: 50%;
        z-index: 0;
        @media screen and(max-width: 420px) {
            content: '';
        }
    }
    &::before {
        content: url('../assets/chart/bg_leaf.png');
        position: absolute;
        bottom: 0;
        right: 0;
    }
    @media screen and(max-width: 982px) {
        min-height: auto;
    }
}