// Single product page style
.product {
    position: relative;
    color: #000;
    padding: 100px 0;
    z-index: 1;
    .right {
        padding: 20px 0 0 30px;
    }
    p {
        font-size: 18px;
    }
    .left {
        img {
            width: 100%;
        }
    }
    .stamps {
        position: relative;
        display: block;
        padding: 70px 0 50px 0;
        margin: 0 auto;
        text-align: center;
        img {
            width: auto;
        }
        &::before {
            content: url(../assets/product-bg/bgd3-svg.png);
            position: absolute;
            top: 40%;
            left: 10%;
        }
        &::after {
            content: url(../assets/product-bg/bgd2-svg.png);
            position: absolute;
            top: 15%;
            right: 10%;
        }
        @media screen and(max-width: 768px) {
            // img {
            //     width: 60%;
            // }
            &::before {
                left: 0; 
            }
            &::after {
                right: 0;
            }
        }
        @media screen and(max-width: 568px) {
            &::before {
                content: '';
            }
            &::after {
                content: '';
            }
        }
    }
    .bottom {
        padding-top: 40px;
        p {
            font-size: 18px;
            font-weight: 300;
            text-transform: uppercase;
            margin-bottom: 0;
        }
        h3 {
            font-weight: 300;
            text-transform: uppercase;
            font-size: calc(30px + (48 - 30) * ((100vw - 320px) / (2200 - 320)));
            margin-bottom: 40px;
        }
        a {
            text-transform: uppercase;
            color: #fff;
            font-size: 18px;
            background-color: #000;
            padding: 10px 40px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            max-width: 200px;
            &:hover {
                color: #fff;
            }
            img {
                padding-right: 20px;
            }
        }
        .left {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            img {
                width: auto;
            }
            &::after {
                content: url(../assets/product-bg/bgd4-svg.png);
                position: absolute;
                top: 0;
                right: 0;
                @media screen and(max-width: 568px) {
                    content: '';
                }
            }
        }
        .right {
            img {
                width: 100%;
            }
        }
    }
    &::after {
        content: url(../assets/product-bg/bgd1-svg.png);
        position: absolute;
        top: 0;
        right: 0;
        z-index: 0;
        @media screen and(max-width: 768px) {
            display: none;
        }
    }
}
.product-heading {
    color: #000;
    h2 {
        font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (2200 - 320)));
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    h3 {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        padding-bottom: 40px;
    }
    p {
        font-size: calc(20px + (36 - 20) * ((100vw - 320px) / (2200 - 320)));
        font-weight: 400;
        text-transform: uppercase;
    }
}
.count {
    padding-bottom: 20px;
    form {
        display: flex;
        input {
            height: 26px;
            max-width: 61px;
            border: 1px solid #000;
            border-radius: 20px;
            text-align: center;
            margin: 0 8px;
        }
        .value-button {
            width: 25px;
            height: 25px;
            border: 1px solid #000;
            border-radius: 50%;
            text-align: center;
            cursor: pointer;
        }
    }
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.product-benefits {
    position: relative;
    padding: 25px 0 32px 0;
    ul {
        display: flex;
        li {
            margin-right: 20px;
            p {
                text-align: center;
                text-transform: uppercase;
                font-size: 11px;
            }
            img {
            max-width: 42px;
            margin: 0 auto;
            display: flex;
            margin-bottom: 6px;
            }
        }
    }
    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 100px;
        background-color: #000;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    @media screen and(max-width: 768px) {
        padding-bottom: 5px;
    }
}
ul.tag-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 5px;
    padding-bottom: 60px;
    li {
        font-size: 18px;
        padding: 5px 15px;
        margin: 5px 10px 5px 0;
        border: 1px solid;
        border-radius: 25px;
        cursor: vertical-text;
    }
    &--dark {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding-top: 30px;
        li {
            font-size: 18px;
            padding: 5px 15px;
            margin: 5px 10px 5px 0;
            border: 1px solid;
            border-radius: 25px;
            cursor: vertical-text;
            background-color: #000;
            color: #fff;
        }
    }
    @media screen and(max-width: 568px) {
        padding-top: 20px;
    }
}